This notebook contains the following:
'#01 - Importing Libraries
'#02 - Importing Data
'#03 - Data Cleaning
'#04 - Export DF
'#05 - Import Clean DF
'#06 - Check Clean DF

# 01 - Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02 - Import Data Sets

In [2]:
# Import allPlayersLookup
path = r'C:\Users\jakey\OneDrive\Documents\Data Analytics\CareerFoundry\Data Immersion\Achievement 6\Project Folder'

In [3]:
df_playerbio = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'allPlayersLookup.csv'), index_col = False)

# 03 - Check Import

In [4]:
df_playerbio.head()

,playerId,name,position,team,birthDate,weight,height,nationality,shootsCatches,primaryNumber,primaryPosition
0,8478421,A.J. Greer,L,NJD,1996-12-14,210.0,"6' 3""",CAN,L,24.0,L
1,8477180,Aaron Dell,G,BUF,1989-05-04,205.0,"6' 0""",CAN,L,30.0,G
2,8465992,Aaron Downey,R,DET,1974-08-27,215.0,"6' 1""",CAN,R,44.0,R
3,8477932,Aaron Ekblad,D,FLA,1996-02-07,220.0,"6' 4""",CAN,R,5.0,D
4,8471451,Aaron Gagnon,C,WPG,1986-04-24,186.0,"5' 11""",CAN,R,21.0,C

In [5]:
df_playerbio.tail()

,playerId,name,position,team,birthDate,weight,height,nationality,shootsCatches,primaryNumber,primaryPosition
2909,8475876,Zane McIntyre,G,BOS,1992-08-20,206.0,"6' 2""",USA,L,31.0,G
2910,8469760,Zbynek Michalek,D,ARI,1982-12-23,210.0,"6' 2""",CZE,R,4.0,D
2911,8465009,Zdeno Chara,D,NYI,1977-03-18,250.0,"6' 9""",SVK,L,33.0,D
2912,8476878,Zemgus Girgensons,L,BUF,1994-01-05,211.0,"6' 2""",LVA,L,28.0,C
2913,8469820,Zenon Konopka,C,BUF,1981-01-02,213.0,"6' 0""",CAN,L,24.0,C

In [6]:
df_playerbio.info

<bound method DataFrame.info of       playerId               name position team   birthDate  weight  height  \
0      8478421         A.J. Greer        L  NJD  1996-12-14   210.0   6' 3"
1      8477180         Aaron Dell        G  BUF  1989-05-04   205.0   6' 0"
2      8465992       Aaron Downey        R  DET  1974-08-27   215.0   6' 1"
3      8477932       Aaron Ekblad        D  FLA  1996-02-07   220.0   6' 4"
4      8471451       Aaron Gagnon        C  WPG  1986-04-24   186.0  5' 11"
...        ...                ...      ...  ...         ...     ...     ...
2909   8475876      Zane McIntyre        G  BOS  1992-08-20   206.0   6' 2"
2910   8469760    Zbynek Michalek        D  ARI  1982-12-23   210.0   6' 2"
2911   8465009        Zdeno Chara        D  NYI  1977-03-18   250.0   6' 9"
2912   8476878  Zemgus Girgensons        L  BUF  1994-01-05   211.0   6' 2"
2913   8469820      Zenon Konopka        C  BUF  1981-01-02   213.0   6' 0"

     nationality shootsCatches  primaryNumber primaryPosition
0            CAN             L           24.0               L
1            CAN             L           30.0               G
2            CAN             R           44.0               R
3            CAN             R            5.0               D
4            CAN             R           21.0               C
...          ...           ...            ...             ...
2909         USA             L           31.0               G
2910         CZE             R            4.0               D
2911         SVK             L           33.0               D
2912         LVA             L           28.0               C
2913         CAN             L           24.0               C

[2914 rows x 11 columns]>

In [8]:
df_playerbio.describe()

           playerId       weight  primaryNumber
count  2.914000e+03  2829.000000    2829.000000
mean   8.474080e+06   199.435490      36.775539
std    5.725437e+03    16.013646      23.419069
min    8.445550e+06   140.000000       1.000000
25%    8.470878e+06   189.000000      18.000000
50%    8.475222e+06   199.000000      33.000000
75%    8.478002e+06   210.000000      51.000000
max    8.483570e+06   265.000000      98.000000

In [10]:
df_playerbio['name'].count()

2914

In [11]:
df_playerbio['position'].count()

2914

In [12]:
df_playerbio['team'].count()

2914

In [14]:
df_playerbio['birthDate'].count()

2829

In [15]:
df_playerbio['height'].count()

2829

In [16]:
df_playerbio['nationality'].count()

2829

In [17]:
df_playerbio['shootsCatches'].count()

2829

# 04 - Export DF

In [18]:
df_playerbio.to_csv(os.path.join(path, '02 Data','Prepared Data', 'playerbio.csv'))

# 05 - Import Clean DF

In [19]:
df_playerbio_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'playerbio.csv'), index_col = False)

# 06 - Check Clean DF

In [20]:
df_playerbio_clean.head()

,playerId,First Name,Last Name,position,team,year,month,day,weight,height,nationality,shootsCatches,primaryNumber
0,8478421,A.J.,Greer,L,NJD,1996,12,14,210,75,CAN,L,24
1,8477180,Aaron,Dell,G,BUF,1989,5,4,205,72,CAN,L,30
2,8465992,Aaron,Downey,R,DET,1974,8,27,215,73,CAN,R,44
3,8477932,Aaron,Ekblad,D,FLA,1996,2,7,220,76,CAN,R,5
4,8471451,Aaron,Gagnon,C,WPG,1986,4,24,186,71,CAN,R,21

In [21]:
df_playerbio_clean.describe()

,playerId,year,month,day,weight,height,primaryNumber
count,2.914000e+03,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000
mean,8.474080e+06,1988.880577,5.880577,15.580302,199.364791,73.152368,36.914894
std,5.725437e+03,7.227566,3.390504,8.896007,16.002180,2.171686,23.354555
min,8.445550e+06,1962.000000,1.000000,1.000000,140.000000,64.000000,1.000000
25%,8.470878e+06,1984.000000,3.000000,8.000000,189.000000,72.000000,18.000000
50%,8.475222e+06,1990.000000,6.000000,15.000000,199.000000,73.000000,33.000000
75%,8.478002e+06,1994.750000,9.000000,23.000000,210.000000,75.000000,51.000000
max,8.483570e+06,2003.000000,12.000000,31.000000,265.000000,81.000000,98.000000

In [22]:
df_playerbio_clean.count()

playerId         2914
First Name       2914
Last Name        2914
position         2914
team             2914
year             2914
month            2914
day              2914
weight           2914
height           2914
nationality      2914
shootsCatches    2914
primaryNumber    2914
dtype: int64